.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(25, 25, 25, 0.9);
  width: 500px;
  margin: auto;
}
.background {
  min-height: 100vh;
  background-image: url("../../assets/background2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.title {
  color: white;
  margin-bottom: 20px;
  font-weight: 700;
}

.logo {
  max-width: 220px;
  margin-bottom: 40px;
}
.backendError {
  color: red;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
